# Dependencies
/book-browser/node_modules
/book-browser//.pnp
/book-browser/.pnp.js

# Production
/book-browser/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/book-browser/npm-debug.log*
/book-browser/yarn-debug.log*
/book-browser/yarn-error.log*