* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  /*Color pallete*/
  --header-bg-color: #6C6D8A;
  --main-fg-color: #FFFFFF;
  --scnd-fg-color: #6D71F9;
  --main-bg-color: #272848;
}