* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  /*Color pallete*/
  --header-bg-color: #0A1C2F;
  --main-bg-color: #F4F9FC;
  --main-fg-color: #F5EEE4;
  --scnd-fg-color: #06C972;
  --thrd-fg-color: #DFE4E3;
}