.CardsContainer,
.CardsList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardsContainer {
    padding: 1em;
    min-height: 93vh;
    background-color: var(--main-bg-color);
}

.CardsList {
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
}